header .nav-wrapper {
  background-color: #0B2143;
  width: 100%;
  z-index: 2;
  position: relative;
}

header nav {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 1248px;
  height: 64px;
  padding: 0 24px;
}

@media (width >= 900px) {
  header nav {
    padding: 0 32px;
    max-width: 1264px;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
  text-decoration: none;
}

header .nav-brand {
  flex-basis: 160px;
  line-height: 1;
}

header .nav-brand img {
  width: 160px;
  height: auto;
  display: block;
}
